<h2>{{title}}</h2>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
    <input type="text" [(ngModel)]="user.name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
<br />

<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Age</span>
    <input type="text" [(ngModel)]="user.age" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
<br />
<h5 style="margin: 15px;">Gender</h5>

<div style="margin:15px ;"  class="form-check">
    <input class="form-check-input" [(ngModel)]="user.gender" type="radio" value="Male" id="flexCheck">
    <label class="form-check-label" for="flexCheckDefault">
      Male
    </label>
  </div>
  <div style="margin:15px ;" class="form-check">
    <input class="form-check-input" type="radio" [(ngModel)]="user.gender" value="Female" id="flexCheck" >
    <label class="form-check-label" for="flexCheckChecked">
      Female
    </label>
  </div>

  <button  type="button" style="position: relative; align-items: center; margin-left: 770px;" (click)="save()" class="btn btn-outline-primary">Submit</button>

